* {
  font-family: Helvetica, sans-serif;
}
.is-vertical-center {
  display: flex;
  align-items: center;
}

.vh100 {
  height: 100vh;
}

.prettyprint {
  white-space: pre-wrap;
}

.language-groovy {
  white-space: pre-wrap;
}

.fa-paperclip {
  color: rgb(99, 99, 99);
}

.fa-code {
  color: rgb(99, 99, 99);
}
